*{
color: white;
}
h1,p{
    
    text-align: center;
}
/*border radius*/
form, input,textarea{
    
    
    border-radius: 5px;
   border-width: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin: 0;
    /*background-color: rgba(21, 11, 198, 0.255);
    background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;*/

   
   
   
   background-image: linear-gradient(
       115deg,
       rgba(138, 11, 11, 0.8),
       rgba(136, 136, 206, 0.7)
     ),
     url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;


 }


form
{
    /*to align center */
    max-width: 650px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    /*background: rgba(55, 7, 174, 0.3)*/
    background-color: rgba(4, 1, 48, 0.274);
    padding:25px;
    
    
    
}

label{
    display: block;
    margin-top: 10px;
    
}
input{
    margin-top: 20px;
    width: 100%;
    height: 25px;
    color: black;
    
   
}

#submit{
    margin: 0;
    padding:0;
    background-color: rgba(15, 215, 15, 0.869);
    border-color: rgba(12, 133, 12, 0.519);
    padding:0 251px; /*left right padding to make it similar in width to other input elements*/

}

.radio, .checkbox{
    width: unset;
    
}

textarea{
    width: 100%;
}

#dropdown{
    color:black;
}