h1{
    
    text-align: center;
}


body{
    margin: 0;
}

form
{
    /*to align center */
    max-width: 500px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

label{
    display: block;
}
